<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body tabindex="-1">
  <!-- Include navbar partial -->
  <% include('partials/navbar', { page: '/lego/sets' }) %>
  <div class="navbar-center hidden sm:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/about">About</a></li>
      <li><a href="/lego/addSet">Add Set</a></li>
      <li>
        <details>
          <summary>Theme</summary>
          <ul class="p-2 bg-base-100 right-0">
            <li><a href="/lego/sets?theme=Dark Forest">Dark Forest</a></li>
              <li><a href="/lego/sets?theme=Town">Town</a></li>
              <li><a href="/lego/sets?theme=Res-Q">Res-Q</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>

<br />


  <div class="container mx-auto">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Gathering</h1>

          <p class="py-6">Create, Construct, and Enjoy: Step into the LEGO World of Imagination.</p>
      
          <a href="/lego/sets" class="btn btn-primary">Get Started Now</a>
        </div>
      </div>
    </div>

    <br />
    

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% sets.forEach(set => { %>
      <div>
        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="<%= set.img_url %>" alt="<%= set.name %>" />
          </figure>
          <div class="card-body">
            <h2 class="card-title"><%= set.name %></h2>
            <p><%= set.description %></p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/<%= set.set_num %>" class="btn btn-primary">View Details</a>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</body>

</html>
